{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header_inside.html' %}
{% end %}

{% block javascript %}
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/data.tags.js"></script>
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/dermatologia.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var h = $(".tags").html();
            var tag = h.split(",");

            tag[0] = tag[0].replace('\n','');
            tag[tag.length-1] = tag[tag.length-1].replace('\n','');

            for(i in tag)
            {
                for(t in tags_url)
                {
                    if(tags_url[t].name == tag[i])
                    {
                        $(".list-service-ul").html($(".list-service-ul").html()+'<div><a href="{{ site_base }}/sc/product/detail/'+tags_url[t].url+'/'+tags_url[t].id+'">'+tag[i]+'</a></div>');
                    }
                }
            }
        });
    </script>
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/article/detail.js"></script>
{% end %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Lato" type="text/css"/>
    <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/servicios.css?22">
    <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/header_inside.css?22">
    <style type="text/css">
        html, body
        {
            height: 100%;
        }

        @media screen and (max-width: 700px)
        {
            .ol
            {
                visibility: hidden;
            }

            .franja-color
            {
                background: transparent;
            }
        }
    </style>
{% end %}


{% block body %}

    <section>
        <div class="mobile-det banner-detalle" style="background:url('{{ article['thumb_500'] }}');">
            <img class="fondo-articulo hidden" src="{{ article["thumb_500"] }}" class="img-responsive lazy" data-original="{{ article["url"] }}" alt="item">
       </div>
    </section>

    <div id="first-page-scroll" class="container cart-list productlist" >
        <div class="col-sm-12 blog-content cont-detalle">
            <input type="hidden" id="article-description-ajax-url" value="{{ site.url }}article/update-description">
            <input type="hidden" id="article-content-id" value="{{article['id']}}">
            <div class="col-sm-12 blog-content titulo-detalle-articulo">
                <p class="titlenotice">BLIVE | Casos de éxito</p>
                <h1 class="text-center h1-art til-ban">{{ article["title"] }}</h1>
            </div>
        </div>

        <div class="content articulo-text texto-detalle">
            <div class="col-sm-12 especial">
                <h2 class="h2-art til-ban-2 bajada-detalle">{{ article["caption"] }}</h2>
            </div>
            <div align="center">
                <div class="col-md-12 col-sm-12 col-xs-12 content-picture"></div>
            </div>
            <div align="center">
                <div class="col-sm-12">
                    <div class="">
                        <div id="description" class="p-art dan detail-arts">{{ article["description"] }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 especial p-art"></div>
            <div class="hidden tags">{{",".join(article["tags"])}}</div>
        </div>
        <div class="col-sm-3 blog-sidebar">
            <div class="widget"></div>
        </div>
        <hr>
        <div class="texto-listart {{editabletext}}" text-id="{{ site.name + '_listart_text' }}"> {{ read_text(site.name +  '_listart_text') }} </div>
    </div>

    <!--TO DO: DESCOMENTAR ESTO CUANDO EL CLIENTE LO PIDA-->

    <!-- <section class=" img-service-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if is_admin %}
                        <div class="image-upload lapiz bi visible-movil">
                            <label for="img_banner_2">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_2_listart" name="image" id="img_banner_2_listart" >
                        </div>
                    {% end %}
                    <img id="{{ site.name }}_banner_2_listart" src="{{ read_image(site.name + '_banner_2_listart', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_2_listart',500) }}'"  class="banner-art-1 fondo-arts" alt="item">
                    <div class="service-banner-art">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div align="center">
                                <div class="tittle-service-home-art text-center {{editabletext}}" text-id="{{ site.name + 'tittle-service-one_listart' }}"> {{ read_text(site.name +  'tittle-service-one_listart') }} </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-banner-art">
                        <div class="col-md-8 col-sm-12 col-md-offset-1 col-xs-12 text-left list-service-art">
                            <ul class="list-service-ul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <section class="list-art-home mg-b5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="box-text-gal mg-5">
                        <h1 class="text-center titulo {{editabletext}}" text-id="{{ site.name + '_til_list-art' }}"> {{ read_text(site.name +  '_til_list-art') }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div align="center">
                        <div class="bajada text-center {{editabletext}}" text-id="{{ site.name + '_baj_list-art' }}"> {{ read_text(site.name +  '_baj_list-art') }} </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container align-box">
            {{ getArticleList(html="page/article_home.html") }}
        </div>
    </section>

    <section id="contenedor">
        <div class="container">
            <div class="row spa article_list">
                {{ getArticleList(tag='blive,-posicion 1,-posicion 2,-posicion 3,-posicion 4') }}
            </div>
        </div>
    </section>

    <div class="carritoproductos clearfix">
        <div class="flecha clearfix">
        </div>
    </div> -->

    {% include '../home/footer.html' %}
{% end %}
